In [ ]:
# Test for the painting on excel
from openpyxl.styles import PatternFill, Border, Side, Alignment, Protection, Font
from openpyxl import load_workbook
# font = Font(name='Calibri',
#                size=20,
#                bold=False,
#                 italic=False,

#                  vertAlign=None,
#                  underline='none',
#                  strike=False,
#                 color='FF0000')

font = Font(
                color='FF0000')


wb = load_workbook('/Users/emily/Desktop/Research/test2.xlsx')
#         # sheet = wb['Ensemble 三個方法 Random']
# if wb['Ensemble 兩個方法 ElbowCenter']:
#     print('123')
# else:

#     print('dsfdsf')
sheet = wb.create_sheet('Ensemble 兩個方法 ElbowCenter')
# sheet = wb['Ensemble 兩個方法 ElbowCenter']

sheet.cell(value=10,row=1,column = 10)
# sheet["A1"].font = font
fontb = Font(
                color='FF0000',bold=True)
sheet.cell(1,10).font = font
# sheet.cell(1,10).font = fontb

wb.save('/Users/emily/Desktop/Research/test2.xlsx')

In [ ]:
a = [1,2,3]
if len(a) == 3:
    print('sas')
if 2 in a:
    print('1233')

In [ ]:
import pandas as pd

import numpy as np
df = pd.DataFrame(np.random.randn(4,2),index=['a', 'a', 'b', 'b'])

In [ ]:

# if type(df.iloc[0,:][0]) == 'numpy.float64':
#     print('123')
print(type(df.iloc[0,:][0]))

In [125]:
import pandas as pd
d = {'col1':[1,2,3,4],'col2':[1,'ew1','ew2','ew3'],'col3':[5,3,2,1],'col4':[2,'re','re','ww']}
df = pd.DataFrame(d)
df

   col1 col2  col3 col4
0     1    1     5    2
1     2  ew1     3   re
2     3  ew2     2   re
3     4  ew3     1   ww

In [ ]:
# df.iloc[:,1].astype(str)
# type(df.iloc[0,1])
df.iloc[:,1] = df.iloc[:,1].apply(lambda col: str(col))

In [ ]:
isinstance(df.iloc[:,1][0],str)

In [ ]:
# 如果是 str 則用 Label encoding 轉換
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
le = preprocessing.LabelEncoder()
for i in range(df.shape[1]):
    for j in range(df.shape[0]):
        if isinstance(df.iloc[:,i][j],str):
            df.iloc[:,i] = df.iloc[:,i].apply(lambda col: str(col))
            df.iloc[:,i] = le.fit_transform(df.iloc[:,i])
            # print(df.iloc[:,i][j])
            break

In [ ]:
df

In [ ]:
type(df.iloc[1,2])
df.iloc[1,2]

In [ ]:
df[isinstance(df.iloc[0,:][0],float)]

In [ ]:
for j in df.iloc[0,:]:
    print(j)

In [137]:
filepa = "/Users/emily/Desktop/Research/oversampling_python/data/imb_IRhigherThan9p3/car-good-5-fold/car-good-5-1tra.xlsx"
df = pd.read_excel(filepa,index_col=0)
df

     Buying   Maint   Doors Persons Lug_boot Safety        Class
1     vhigh   vhigh       2       2    small    low   negative\n
2     vhigh   vhigh       2       2    small    med   negative\n
3     vhigh   vhigh       2       2    small   high   negative\n
4     vhigh   vhigh       2       2      med    low   negative\n
5     vhigh   vhigh       2       2      med    med   negative\n
...     ...     ...     ...     ...      ...    ...          ...
1378    low     low   5more    more      med    low   negative\n
1379    low     low   5more    more      med    med   positive\n
1380    low     low   5more    more      med   high   negative\n
1381    low     low   5more    more      big    med   positive\n
1382    low     low   5more    more      big   high   negative\n

[1382 rows x 7 columns]

In [ ]:
df = pd.DataFrame(df)
df.index = df.index.astype(object)
df.iloc[:,1][0]

In [132]:
df

   col1 col2  col3 col4
0     1    1     5    2
1     2  ew1     3   re
2     3  ew2     2   re
3     4  ew3     1   ww

In [136]:
# numbers = [x * 3 for x in range(10) if x > 4]
# [df.iloc[:,1].fit_transform for n in df.iloc[:,1] if isinstance(n,str)]
# max = lambda m, n: m if m > n else n
boo1 = lambda x: type(x)
print(boo1(df.iloc[:,1]))
boo = lambda x: True if isinstance(x,str) else False
print(boo(df.iloc[:,2]))

# df.iloc[:,1] = df.iloc[:,1]

<class 'pandas.core.series.Series'>
False

In [144]:
filepa = "/Users/emily/Desktop/Research/oversampling_python/data/imb_IRhigherThan9p3/car-good-5-fold/car-good-5-1tra.xlsx"
df = pd.read_excel(filepa,index_col=0)
le = preprocessing.LabelEncoder()
for j in range(df.shape[1]):
    for k in range(df.shape[0]):
        # print(df.iloc[j,i])
        if isinstance(df.iloc[k,j],str):
            df.iloc[:,j] = df.iloc[:,j].apply(lambda col: str(col)) 
            df.iloc[:,j] = le.fit_transform(df.iloc[:,j])
            break
        # df.iloc[:,i] = df.iloc[:,i].apply(lambda col: str(col)) 
        
        
        # df.iloc[:,i] = df.iloc[:,i].apply(lambda col: str(col) if isinstance(col,str)))

        
        # if isinstance(df.iloc[:,i][j],str):
            
        #     df.iloc[:,i] = df.iloc[:,i].apply(lambda col: str(col))
        #     df.iloc[:,i] = le.fit_transform(df.iloc[:,i])
        #     # print(df.iloc[:,i][j])
        #     break

In [143]:
df

      Buying  Maint  Doors  Persons  Lug_boot  Safety  Class
1          3      3      0        0         2       1      0
2          3      3      0        0         2       2      0
3          3      3      0        0         2       0      0
4          3      3      0        0         1       1      0
5          3      3      0        0         1       2      0
...      ...    ...    ...      ...       ...     ...    ...
1378       1      1      3        2         1       1      0
1379       1      1      3        2         1       2      1
1380       1      1      3        2         1       0      0
1381       1      1      3        2         0       2      1
1382       1      1      3        2         0       0      0

[1382 rows x 7 columns]

In [ ]:
filepa = "/Users/emily/Desktop/Research/oversampling_python/data/imb_IRhigherThan9p3/car-good-5-fold/car-good-5-1tra.xlsx"
df = pd.read_excel(filepa,index_col=0)
le = preprocessing.LabelEncoder()
for i in range(df.shape[1]):
    for j in range(df.shape[0]):
        print(df.iloc[:,i])
        
        if isinstance(df.iloc[:,i][j],str):
            
            df.iloc[:,i] = df.iloc[:,i].apply(lambda col: str(col))
            df.iloc[:,i] = le.fit_transform(df.iloc[:,i])
            # print(df.iloc[:,i][j])
            break